* {
  font-family: 'Noto Sans', sans-serif;
  color: #747474;
  text-decoration:none;

}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 28px 30px;
}

b {
  font-weight: 700;
  color: #2D52AB;
}

h2 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #2D52AB;
}

/* navbar! */
.fa-bars {
  color: #fff;
}

.nav{
  width: 100%;
  margin: auto 0;
  cursor: pointer;
  position: fixed;
}

.nav-title {
  width: 100%;
  box-sizing: border-box;
  background: #2D52AB;
  padding: 17px 30px 17px 0;
  position: relative;
  color: #fff;
  text-align: right;
}

.nav-li {
  float: right;
  font-size: 18px;
  padding: 15px 20px 14px;
  margin: 0;
  transition: all .1s;
}

.nav-dropdown {
  width: 100%;
  background: #fff;
  border-radius: 10px;

  box-shadow: rgb(0 0 0/ 20%) 0px 13px 12px 0px;
  color: #505050;

  max-height: 0;
  overflow: hidden;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.down {
  max-height: 100%;
}


.nav-li:hover {
  background: #c6daff;
  width: 100%;
  -webkit-transform: scale(1.05);
  color: #fff;
  text-align: center;
}

/* navbar! */

.header {
  margin-top: 95px;
}

#hello {
  margin-top: 72px;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.header-title {
  text-align: right;
  font-size: 34px;
  line-height: 46px;
  font-weight: 700;
  color: #2D52AB;
}

.hello-p {
  font-size: 60%;
  line-height: 16px;
  font-weight: normal;
  margin-bottom: 9px;
}

.hello-img {
  width: 60%;
  display: block;
  margin: 34px auto 28px;
}

.info-all {
  display: flex;
  font-size: 60%;
  line-height: 16px;
  font-weight: normal;
  justify-content: space-between;
  flex-direction: column;
}

.info-content {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding-bottom: 16px;
}

#Skill-set {
  margin-top: 28px;
  display: flex;
  font-size: 60%;
  line-height: 16px;
  font-weight: normal;
  justify-content: space-between;
  flex-direction: column;
}

.tg {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
}

.tg th {
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
}

.tg .tg-wp8o {
  text-align: right;
  vertical-align: top
}

.tg .tg-iks7 {
  text-align: left;
  vertical-align: top;
  color: #2D52AB;
}

.tg .tg-jbyd {
  text-align: right;
  vertical-align: top
}

.tg .tg-73oq {
  color: #2D52AB;
  text-align: left;
  vertical-align: top
}

#Study {
  margin-top: 41px;
}

.Study-title-block {
  height: 17px;
  width: 5px;
}

.Study-subTitle-one::before {
  background-image: url('./img/Rectangle\ 41.png');
  width: 5px;
  height: 17px;
  content: ' ';
  display: block;
  margin-bottom: 20px;
}

.Study-subTitle-one {
  margin-top: 26px;
}

.Study-title-content {
  font-weight: normal;
  font-size: 60%;
  line-height: 16px;
  font-weight: normal;
}

.Study-subTitle-two {
  margin-top: 29px;
}

.Study-gitRepo {
  margin-top: 12px;
  display: block;
  margin-bottom: 16px;
}

.Project-Content-title::before {
  background-image: url('./img/Rectangle\ 41.png');
  width: 5px;
  height: 17px;
  content: ' ';
  display: block;
  margin-bottom: 20px;
}

.Project-Content-subTitle {
  font-size: 20px;
  line-height: 32px;
  color: #2D52AB;
  font-weight: bold;
  margin-bottom: 22px;
}

.Project-1-img {
  display: block;
  margin-bottom: 16px;
}

.Project-1-detail {
  font-size: 60%;
  line-height: 16px;
  font-weight: normal;
}

#contact {
  margin-top: 32px;
  text-align: center;
}

.contact-box {
  display: flex;
  justify-content: space-between;
}